#-------------------------------------------------------------------------------#
#--------------METADATAAUTORITYQUALITYCONTROL CURATION TASK CONFIGURATIONS------#
#-------------------------------------------------------------------------------#

#Normal mode, only reports metadata errors and inconsistencies
metadataauthorityqualitycontrol.fixmode = false
metadataauthorityqualitycontrol.fixvariants = false

#Fix mode, reports and fixes metadata errors and inconsistencies
metadataauthorityqualitycontrol.fix.fixmode = true
metadataauthorityqualitycontrol.fix.fixvariants = false

#Fix variants mode, also fixes metadata value variants
metadataauthorityqualitycontrol.variantsfix.fixmode = true
metadataauthorityqualitycontrol.variantsfix.fixvariants = true

#List of metadata_fields which are authority controlled but we
#don't want the curation task process them
metadataauthorityqualitycontrol.skipmetadata = dcterms_hasPart, dcterms_isPartOf_item, dcterms_isPartOf_issue, dcterms_isVersionOf, dcterms_identifier_url
metadataauthorityqualitycontrol.fix.skipmetadata = dcterms_hasPart, dcterms_isPartOf_item, dcterms_isPartOf_issue, dcterms_isVersionOf, dcterms_identifier_url
metadataauthorityqualitycontrol.variantsfix.skipmetadata = dcterms_hasPart, dcterms_isPartOf_item, dcterms_isPartOf_issue, dcterms_isVersionOf, dcterms_identifier_url