#---------------------------------------------------------------#
#-------------SPARQL AUTHORITIES CONFIGURATION------------------#
#---------------------------------------------------------------#
# Configuration properties used solely by the SPARQL Authorities#
# System                                                        #
#---------------------------------------------------------------#
# Endpoint URL
# rest-authorities.endpoint.url = https://example.com
